.bind-alert{
  background: #FFFFFF;
  box-sizing: border-box;
  font-size: 15px;
  color: #FF943E;
  letter-spacing: -0.24px;
  line-height: 20px;
  padding: 11px 17px 5px;
  margin-bottom: 16px;
}
.bind-submit{
  background: #FFFFFF;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 17px;
  color: #479DD4;
  letter-spacing: -0.41px;
  margin-top: 16px;
  border-radius: 0;
  &::before{
    border: transparent!important;
  }
}
.bind-info{
  font-size: 13px;
  color: rgba(25,31,37,0.40);
  letter-spacing: -0.08px;
  line-height: 18px;
  width: 375px;
  margin: 16px auto;
}