.no-announce {
  background-color: rgba(132, 132, 132, .5);
  height: 78px;
  position: fixed;
  top: 5px;
  left: 0;
  width: 100vw;
  z-index: 99;
  font-size: 20px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}