.quantization{
  padding-left: 17px;
  padding-right: 17px;
}
.quantization-info{
  font-size: 17px;
  color: #55595C;
  margin-bottom: 5px;
  span{
    font-size: 17px;
    color: #3A3A3A;
    margin-left: 2px;
  }
}