.list-head{
  background: #28BCFF;
  height: 57px;
  line-height: 57px;
  padding: 0 20px 0 14px;
  box-sizing: border-box;
  &>span{
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0.41px;
  }
}